/*
FILE NAME: style/style.css
WRITTEN BY: The whole group
WHEN: October 2015
PURPOSE: Style/design of all th elements on the web pages.
*/

/* RESET */
* {
	margin: 0px;
	padding: 0px;
}

em a {
	color: black;
}

/* FONTS */
@font-face {
	font-family: LatoBlack;
	src: url("fonts/Lato-Black.ttf");
}

@font-face {
	font-family: Lato;
	src: url("fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: OpenSans;
	src: url("fonts/OpenSans-Regular.ttf");
}

/* FONT SPECIFICATION */
body {
	font-family: LatoBlack, sans-serif;
	font-weight: 900;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, a {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-family: LatoBlack, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3 {
	color: #00746b;
}

div, p, a {
	font-family: OpenSans, sans-serif;
	font-size: 15px;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 20px;
	margin-top: 30px;
}
h5 {
	font-size: 30px;
	font-family: OpenSans, sans-serif;
	margin: 20px 0;
}

/* GENERAL */
.top {
	padding-top: 30px;
}

.hide {
	display: none;
}

.margin-center {
	margin: 0 auto 30px auto;
	display: block;
}

/* MAIN STRUCTURE AND FLEX */
.container {
	max-width: 960px;
	margin: 0 auto;
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.flex-footer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.center {
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.space-around {
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.space-between {
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.vertical-center {
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* COLUMNS */
.col-1 {
	width: 720px;
}

.col-2 {
	width: 240px;
	background: #00a995;
}
.col-3 {
	width: 320px;
}

.col-100 {
	width: 100%;
}
.col-50 {
	width: 50%;
}

/* HEAD */
.blue {
	background: blue;
	height: 50px;
	width: 50px;
}

/*GENERAL */

/* HEADER */
header {
	background: #00746b;
	min-height: 100px;
	padding-bottom: 20px;
}
.transparent {
	background: rgba(0,116,107,0.5);
}
#logo {
	padding-top: 20px;
	max-height: 80px;
	max-width: auto;
}
nav {
	padding-top: 10px;
	letter-spacing: -1px;
}
nav ul {
	padding: 0;
}
nav li {
	display: inline-block;
	position: relative;
}
nav a {
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 10px;
	color: #fff;
}
nav a:hover, .social a:hover{
	color: #00a995;
}

/*DROPDOWN*/
.dropdown {
	position: absolute;
	visibility: hidden;
}
.dropdown a {
	margin: 5px;
}
nav li:hover .dropdown {
	visibility: visible;
	padding: 3px;
	background: rgba(0,116,107,1);
}
nav li:hover .transparent {
	background: rgba(0,116,107,0.5);
}
/*END DROPDOWN */

.social {
	text-align: right;
	padding-top: 30px;
}

.social img {
	height: 25px; 
	width: 25px;
	margin-left: 10px;
}

.nav_structure a{
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	text-decoration: inherit;
}

/* SIDEBAR */
#sidebar {
	text-transform: uppercase;
	color: #ffffff;
	background: #00a995;
	text-align: left;
	letter-spacing: -1px;
	min-height: 100vh;
}

#sidebar h4{
	text-align: left;
	padding: 10px 10px;
	background: #00746b;
}

#sidebar a{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}

#sidebar p {
	padding: 10px 10px;
	font-size: 20px;
	font-weight: 400;
}

/* FOOTER */
footer{
	padding-top: 10px;
	width: 100%;
	min-height: 60px;
	font-size: 12px;
	background: #00746b;
}
footer div{
	color: #fff;
	font-size: 12px;
}
footer img {
	width: 50px;
	height: 50px;
}
footer .social {
	padding-top: 0px;
}

/*SIDEBAR BUTTONS*/
.side_button{
	cursor: pointer;
}
.side_button:hover{
	background: #00746b;
}

/* FRONT PAGE */
/*FEATURED*/
.featured {
	background: url("../images/featured-bw.jpg") center center;
	height: 500px;
	position: relative;
	background-size: cover;
}

.featured-headline {
	display: block;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 120px;
	padding: 20px 0;
}

.featured-headline h1 {
	font-size: 50px;
	color: #fff;
	display: inline;
}

.featured-headline .container {
	position: relative;
}

.featured-headline h3 {
	display: inline;
	position: absolute;
	right: 0px;
	bottom: 7px;
	text-align: right;
}

/* NEWS ARTICLES */
.article {
	width: 96%;
	margin-bottom: 30px;
}

.article img {
	width: 100%;
	margin: 10px 0;
}

.article h3 {
	text-align: right;
	padding-top: 10px;
}

.article a {
	color: black;
}

.readmore {
	cursor: pointer;
}
.readmore:hover {
	color: rgba(0,116,107,0.8);
}

/* ABOUT PAGE */
ul{
	padding-left: 3em;
}

/*TEAM PAGE */
#game_chooser {
	background-color: #282828;
}

#games_nav{
	/*padding-top: 30px;/*
	/*padding-bottom: 20px;*/
}

.games_button {
	text-align: center;
	cursor: pointer;
	padding: 10px 0;
}

.games_button:hover {
	background: #1c1c1c;
}

.games_button img{
	width: 250px;
	height: 100px;
}

.player{
	text-align: center;
	margin: 5px;
	border: solid;
	color: #000;
}

.team-image{
	width: 100%;
	height: 550px;
}

/* PLAYER PAGE */
#player_page #achievements h2{
	padding-bottom: 10px;
}

#player_page #achievements ul{
	padding-bottom: 20px;
}

#player_page #player_portrait{
	padding-top: 10px;
	height: 300px;
	width: auto
}

#player_page #sidebar a img{
	height: 150px;
}

#player_page table, tr, td{
	padding-right: 15px;
}

#player_quote{
	padding: 20px 0px 20px 0px;
	font-style:italic;
}

.player{
	text-align: center;
	margin: 5px;
	border: solid;
}

.player_image{
	width: 200px;
	height: auto;
}

/* SPONSORS AND CONTACT PAGE */
.contentBox {
	margin: 50px 0;
}

.imgBox {
	background: #eee;
	padding: 20px;
}

.textBox {
	color: #fbfcfc;
	background: #00a995;
	padding: 20px;
	width: 100%;
}

.sponsorImg {
	float: left;
	width: 200px;
	height: auto;
	background-repeat: no-repeat;
	background-position: 10px;
}

/* SHOP PAGE */
.shop-item {
	padding: 20px;
	text-align: center;
	height: auto;
	overflow: hidden;
	border: 3px solid #b5dad7;
}
.shop-item img {
	width: 270px;
	height: 300px;
}

/* ORDER PAGE */
#t-shirts-list {
	background-color: red;
}

fieldset {
	margin-top: 50px;
	padding: 20px;
}

label{
    float: left;
	clear: both;
	padding: 5px;
}
input, select {
  	float: right;
}

/* */
button {
   background: #00746b;
   padding: 13.5px 27px;
   border-radius: 5px;
   color: #fff;
   font-size: 20px;
   margin-bottom: 30px;
}

button:hover {
   border-top-color: #3e7d68;
   background: #3e7d68;
   color: #ccc;
}
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

/* MEDIA QUERIES */ 
@media (max-width: 960px) {
	.flex {
		display: block;
	}
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 33%;
	}

	#sidebar {
		min-height: 100%;
	}
	.social {
		float: left;
		padding-top: 15px;
	}
	nav {
		clear: both;
	}
	.featured-headline h3 {
		right: 3px;
	}
	.article {
		width: 99%;
	}
}

@media (max-width: 480px) {
	.flex-wrap {
		display: block;
	}
	.col-3 {
		width: 100%;
	}
	.col-50 {
		width: 100%;
	}
	nav a {
		display: block;
	}
	.featured-headline {
		margin-bottom: 10px;
	}
}

@media only screen and (max-device-width: 960px) {
	.flex {
		display: block;
	}
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 33%;
	}

	#sidebar {
		min-height: 100%;
	}
	.social {
		float: left;
		padding-top: 15px;
	}
	nav {
		clear: both;
	}
	.featured-headline h3 {
		right: 3px;
	}
	.article {
		width: 99%;
	}
}

@media only screen and (max-device-width: 480px) {
	.flex-wrap {
		display: block;
	}
	.col-3 {
		width: 100%;
	}
	.col-50 {
		width: 100%;
	}
	nav a {
		display: block;
	}
	.featured-headline {
		margin-bottom: 10px;
	}
}