/* RESET */
* {
	margin: 0px;
	padding: 0px;
}

/* FONTS */
@font-face {
	font-family: LatoBlack;
	src: url("fonts/Lato-Black.ttf");
}

@font-face {
	font-family: Lato;
	src: url("fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: OpenSans;
	src: url("fonts/OpenSans-Regular.ttf");
}

/* FONT SPECIFICATION */
body {
	font-family: LatoBlack;
	font-weight: 900;
}

h1, h2, h3, h4, h5, h6, a {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-family: LatoBlack;
	color: #ffffff;
}

h1, h2, h3 {
	color: #00746b;
}

div, p, a {
	font-family: OpenSans;
	font-size: 15px;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 30px;
	font-family: OpenSans;
	margin: 20px 0;
}

/* GENERAL */
.top {
	padding-top: 30px;
}

.hide {
	display: none;
}

/* MAIN STRUCTURE AND FLEX */
.container {
	max-width: 960px;
	margin: 0 auto;
}

.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.center {
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.space-around {
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.space-between {
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.vertical-center {
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.flex-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

/* COLUMNS */
.col-1 {
	width: 720px;
}

.col-2 {
	width: 240px;
	background: #00a995;
}
.col-3 {
	width: 320px;
}

.col-100 {
	max-width: 100%;
	background: honeydew;
}

.col-25 {
	max-width: 25%;
	background: pink;
}

/* MEDIA QUERIES */ 
@media only screen and (max-device-width: 960px) {
	.flex {
		display: block;
	}
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 33%;
	}
	.col-25 {
		width: 50%;
	}
}
@media (max-width: 960px) {
	.flex {
		display: block;
	}
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 33%;
	}
	.col-25 {
		width: 50%;
	}

}
@media (max-width: 740px) {

}
@media (max-width: 480px) {
	.col-3 {
		width: 100%;
	}
	.col-25 {
		max-width: 100%;
	}
}

/* HEAD */
.blue {
	background: blue;
	height: 50px;
	width: 50px;
}

/*GENERAL */

/* HEADER */
header {
	background: #00746b;
	height: 120px;
}

#logo {
	padding-top: 20px;
	max-height: 80px;
	max-width: auto;
}

nav {
	padding-top: 30px;
	letter-spacing: -1px;
}
nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	color: #ffffff;
}

nav a:hover, .social a:hover{
	color: #00a995;
}

.social {
	float: right;
	text-align: right;
}
.social img {
	height: 25px; 
	width: 25px;
	margin-left: 10px;
}

/* SIDEBAR */
#sidebar {
	text-transform: uppercase;
	color: #ffffff;
	background: #00a995;
	text-align: left;
	letter-spacing: -1px;
}

#sidebar h4{
	text-align: left;
	padding: 10px 10px;
	background: #00746b;
}

#sidebar a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}

#sidebar a:hover {
	color: #00746b;
}

#sidebar p {
	padding: 10px 10px;
	font-size: 20px;
	font-weight: 400;
}

/* FOOTER */
footer{
	padding-top: 10px;
	width: 100%;
	height: 60px;
	font-size: 12px;
	background: #00746b;
}

footer div{
	color: #fff;
	font-size: 12px;
}

footer img {
	width: 50px;
	height: 50px;
}

/*SIDEBAR BUTTONS*/
.side_button{
	cursor: pointer;
}
.side_button:hover{
	background: #00746b;
}

/* FRONT PAGE */
/*FEATURED AND HEADER*/
.transparent {
	background: rgba(0,116,107,0.5);
}
.featured {
	background: url("../images/featured-bw.jpg");
	height: 500px;
	position: relative;
	background-size: cover;
}

.featured-headline {
	display: block;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 120px;
	padding: 20px 0;
}

.featured-headline h1 {
	font-size: 50px;
	color: #fff;
	display: inline;
}

.featured-headline .container {
	position: relative;
}

.featured-headline h3 {
	display: inline;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

/* NEWS ARTICLES */
.article {
	width: 680px;
	margin-bottom: 30px;
}

.article img {
	width: 680px;
	margin: 10px 0;
}

.article h3 {
	text-align: right;
}

/* ABOUT PAGE */
ul{
	padding-left: 3em;
}

/*TEAM PAGE */
#game_chooser {
	width: 100%;
	background-color: #282828;
}

#games_nav{
	/*padding-top: 30px;/*
	/*padding-bottom: 20px;*/
}

.games_button {
	width: 50%;
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}
.games_button:hover {
	background: #1c1c1c;
}

.player{
	text-align: center;
	margin: 5px;
	border: solid;
	color: #000;
}

.team-image{
	width: 225px;
	height: 500px;
}

/* PLAYER PAGE */
#player_page #achievements h2{
	padding-bottom: 10px;
}

#player_page #achievements ul{
	padding-bottom: 20px;
}

#player_page #player_portrait{
	padding-top: 10px;
	height: 300px;
	width: auto
}

#player_page #sidebar a img{
	height: 150px;
}

#player_page table, tr, td{
	padding-right: 15px;
}

#player_quote{
	padding: 20px 0px 20px 0px;
	font-style:italic;
}

.player{
	text-align: center;
	margin: 5px;
	border: solid;
}

.player_image{
	width: 200px;
	height: auto;
}

/* SPONSORS AND CONTACT PAGE */
.contentBox {
	margin: 50px 0;
}

.imgBox {
	background: #eee;
	padding: 20px;
}

.textBox {
	color: #fbfcfc;
	background: #00a995;
	padding: 20px;
	width: 100%;
}

.sponsorImg {
	float: left;
	width: 200px;
	height: auto;

	background-repeat: no-repeat;
	background-position: 10px;
}

/* SHOP PAGE */

