/* RESET */
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Lato";
	font-weight: 900;
}

/* FONTS */
h1, h2, h3, h4, h5, h6, a {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "Lato";
	color: #ffffff;
}

h1, h2, h3 {
	color: #00746b;
}

div, p, a {
	font-family: "Open Sans";
	font-size: 15px;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
	text-align: right;
}
h4 {
	font-size: 20px;
}

.top {
	padding-top: 30px;
}

/* MAIN STRUCTURE AND FLEX */
.container {
	max-width: 960px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.vertical-center {
	align-items: center;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}


/* COLUMNS */
.col-1 {
	width: 720px;
}

.col-2 {
	width: 240px;
	background: #00a995;
}
.col-3 {
	width: 360px;
}

.col-100 {
	max-width: 100%;
	background: honeydew;
}

.col-25 {
	max-width: 25%;
	background: pink;
}

/* HEAD */
.blue {
	background: blue;
	height: 50px;
	width: 50px;
}

/*GENERAL */

/* HEADER */
header {
	background: #00746b;
	height: 120px;
}

#logo {
	padding-top: 20px;
	max-height: 80px;
	max-width: auto;
}

nav {
	padding-top: 30px;
	letter-spacing: -1px;
}
nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	color: #ffffff;
}

nav a:hover, .social a:hover{
	background: #00a995;
}

.social {
	float: right;
	text-align: right;
}

/* SIDEBAR */
#sidebar {
	text-transform: uppercase;
	color: #ffffff;
	background: #00a995;
	text-align: left;
}

#sidebar h4{
	text-align: left;
	padding: 10px 10px;
	background: #00746b;
}

#sidebar a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}

#sidebar p {
	padding: 10px 10px;
	font-size: 20px;
	font-weight: 400;
}

/* FOOTER */
footer{
	padding-top: 10px;
	width: 100%;
	height: 30px;
	clear:both;
	float: bottom;
	font-size: 12px;
	background: #00746b;
}

footer div{
	color: #ffffff;
	font-size: 12px;
}

footer div a{
	margin-left: 5px;
}

/* FRONT PAGE */
/*FEATURED AND HEADER*/
.transparent {
	background: rgba(0,116,107,0.5);
}
.featured {
	background: url("../images/featured-bw.jpg");
	height: 500px;
	position: relative;
	background-size: cover;
}

.featured-headline {
	display: block;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 120px;
	padding: 20px 0;
}

.featured-headline h1 {
	font-size: 50px;
	color: #fff;
	display: inline;
}

.featured-headline .container {
	position: relative;
}

.featured-headline h3 {
	display: inline;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

/* NEWS ARTICLES */
.article {
	width: 680px;
	margin-bottom: 30px;
}

.article img {
	width: 680px;
	margin: 10px 0;
}


/* ABOUT PAGE */
ul{
	padding-left: 3em;
}

/*TEAM PAGE */
#game_chooser {
	width: 100%;
	background-color: #282828;
}

#games_nav{
	padding-top: 30px;
	padding-bottom: 20px;
}

.games_button {
	width: 50%;
	text-align: center;
}

.player{
	text-align: center;
	margin: 5px;
	border: solid;
	color: #000;
}

.player_image{
	width: 225px;
	height: 500px;
}

/* PLAYER PAGE */
/* player page specific css goes here */

/* SPONSORS PAGE */
body {
	/*background-image: linear-gradient(to bottom, white, white 50%, #b5dad7  50%);
		background-attachment: fixed;
		background-repeat: no-repeat;*/
	font-family: Lato;
	font-weight: 900;
}

.contentBox {
	margin: 50px 0;
}

.imgBox {
	background: #eee;
	padding: 20px;
}

.textBox {
	color: #fbfcfc;
	background: #00a995;
	padding: 20px;
}

.sponsorImg {
	float: left;
	width: 200px;
	height: auto;

	background-repeat: no-repeat;
	background-position: 10px;
}

/* CONTACT PAGE */


/* SHOP PAGE */
/* shop page specific css goes here */

/* MEDIA QUERIES */ 
@media (max-width: 960px) {
	.flex {
		display: block;
	}

	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 100%;
	}

	.col-25 {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.col-25 {
		max-width: 100%;
	}
}
