/* GENERAL */
body, p, div, ul, ol {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
	padding: 0px;
	color: white;
	list-style: none;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #f2be1e;
	text-transform: uppercase;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
	padding-top: 40px;
	display: inline-block;
}


a {
	text-decoration: none;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 50px;
	margin-bottom: 1px;
}

a:hover {
	color: rgba(255,255,255,0.9);
	text-decoration: underline;
}

.wrap {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}


/* IMAGES */

.document img {
	padding: 20px 0;
	max-width: 70%;
	height: auto;
}


/* SHADOW BOX */

.box.left{
	max-width: 75%;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 5px;
	background: rgba(0,0,0,0.25);
}


/* HEADER */
header {
	background: url("../images/header.jpg") center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	padding: 70px 0;
	min-height: 300px;
}

header nav {
	font-size: 22px;
	font-weight: bold;
}

header nav a {
	margin-left: 4px;
	margin-right: 25px;
}

/* EVERY SECTION */
section {
	background: #575654;
	min-height: 100vh;
	outline: #f2be1e solid 1px;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	padding: 35px 0 50px 0px;
}

section h2.box-title {
	padding-top: 65px;
}

/* DOCUMENT SECTIONS */

section.document h2 {
	padding-top: 15px;
}

section.document p, li {
	margin: 10px 20px;
	max-width: 90%;
}

section.document p {
	margin-left: 0px;
}

section.document nav a {
	font-weight: bold;
	font-size: 15px;
	margin-right: 20px;
	line-height: inherit;
}

section.document #teamlink {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-transform: none;
	line-height: inherit;
}



/* ASSIGNMENTS SECTION */
#assignments {
	background: url("../images/assignments.jpg") center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* PROJECT */
#project {
	background: url("../images/project.jpg") center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* SUB PAGES */
#subpage {
	background: url("../images/sub1.jpg") center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}



/* FOOTER */
footer {
	min-height: 150px;
	background: url("../images/footer.jpg") center center;
	background-size: cover;
}

footer .left {
	float: left;
}

footer nav a {
	font-weight: bold;
	font-size: 15px;
	margin-right: 20px;
	line-height: inherit;
}

footer #contact {
	float: right;
	margin-top: 50px;
}

footer svg {
	margin-left: 20px;
	float: right;
	height: 60px;
	width: 60px;
	fill: white;
	stroke: #f2be1e;
	stroke-width: 2px;
}

#copyright {
	margin-top: 10px;
	font-size: 10px;
	color: white;
}

#copyright span {
	color: #f2be1e;
}